//<ПЕРЕМЕННЫЕ>===========================================================================================================

$fontFamily: "Montserrat";
$fontSize: 16px;

$maxWidth: 1925;
$minWidth: 320;

$tabletWidth: 768;
$mobileWidth: 320;
$PCWidth: 1925;

$cf-main: #000000;
$cf-second: #fff;
$c-Light: #e8aa31;
$bg-color: #141414;

$main-border-radius: 20px;

//</ПЕРЕМЕННЫЕ>===========================================================================================================
