//<МИКСИНЫ>===============================================================================================
//! Перекочевали в файл в vue.config.js
//</МИКСИНЫ>===============================================================================================
@import "objectFit";
//<ШРИФТЫ>===============================================================================================
//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import "fonts";
//</Подключаем шрифты>=======================================================================================
//<Иконочные шрифты>==========================================================================================
@import "icons";
//</Иконочные шрифты>==========================================================================================
//<Шрифт по умолчанию>==========================================================================================
//! Перекочевали в файл _variables.scss в vue.config.js
//</Шрифт по умолчанию>==========================================================================================
//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
//! Перекочевали в файл _variables.scss в vue.config.js
//</ПЕРЕМЕННЫЕ>===========================================================================================================
//* КОМПОНЕНТЫ
@import "libs/nouislider.min.scss"; //!Верстать UI слайдер в этом файле отдельно
//*
//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
body {
	font-family: $fontFamily;
	font-weight: 500;
	font-size: $fontSize;
	&.lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================

.wrapper {
	width: 100%;
	min-height: 100%;
	//overflow: hidden;
	display: flex;
	flex-direction: column;
	&._loaded {
	}
}
//</ОБОЛОЧКА>===========================================================================================================
.page {
	flex: 1 1 auto;
	/* 	& > * + * {
		margin-bottom: calcSize(5, 15, $minWidth, $maxWidth);
	} */
}
//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.content-width {
	margin: 0 auto;
	padding: 0 10px;
	max-width: calcSize(320, 1620, $minWidth, $maxWidth);
	//overflow: hidden;
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";

//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
//===================================================================================================================================

//*<ЧАСТО ПОВТОРЯЮЩЕЕСЯ ЭЛЕМЕНТЫ>====================================================================================================
a:link {
	cursor: pointer;
	transition: all 0.3s linear;
}

a:visited {
}
a:hover {
	@media (any-hover: hover) {
		&:hover {
			text-decoration: underline;
		}
	}
}
a:active {
}
//*</ПОВТОРЯЮЩЕЕСЯ ЭЛЕМЕНТЫ>====================================================================================================
.title {
	//	text-align: center;

	//	cursor: pointer;
}

.text {
	font-size: calcSize(16, 18, $minWidth, $maxWidth);
	//mdp
	color: $cf-second;
}

.subtitle {
	font-size: calcSize(24, 30, $minWidth, $maxWidth);
	@media (min-width: $tabletWidth + px) {
		font-size: 30px;
	}
	font-weight: 700;
	margin-bottom: calcSize(8, 30, $minWidth, $maxWidth);
	margin: calcSize(10, 16, $minWidth, $maxWidth) 0px calcSize(8, 30, $minWidth, $maxWidth) 0px;
	@media (min-width: $PCWidth + px) {
		margin: 16px 0px 30px 0px;
	}
	&--white {
		color: $cf-second;
	}
}

.additional {
}
.text-shadow {
	text-shadow: -1px 0px 10px #c5ce57;
}
//*<UI ЭЛЕМЕНТЫ>================================================================================================================
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
	font-family: "Lato";
	font-size: calcSize(12, 25, $minWidth, $maxWidth);
	line-height: calcSize(10, 33, $minWidth, $maxWidth);
}

//*<UI ЭЛЕМЕНТЫ>================================================================================================================

.input {
	padding: 10px;
}
//*</UI ЭЛЕМЕНТЫ>====================================================================================================
.slider-bullets {
	@media (min-width: $PCWidth + px) {
		margin-bottom: 30px;
	}
	display: inline-grid;
	grid-auto-flow: column;
	gap: 20px;

	.swiper-pagination-bullet {
		cursor: pointer;
		height: 2px;
		width: 15px;
		background-color: $cf-second;
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 0;
			transform: translate(-50%, -50%);
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background-color: $c-Light;
			opacity: 0;
		}
		&-active {
			background-color: $c-Light;
			position: relative;
			&::after {
				content: "";
				opacity: 1;
				left: 100%;
				transition: left 3s linear 0s;
			}
		}
	}
}

//*<Иконочный шрифт>====================================================================================================

//*<Иконочный шрифт>===========================================================================================================================
.icon-font {
	font-size: calcSize(20, 24, $minWidth, $maxWidth);
	@media (min-width: $PCWidth + px) {
		font-size: 24px;
	}
	@media (any-hover: hover) {
		&:hover {
			cursor: pointer;
		}
	}
	&-arrow {
		&::before {
			transform: translate(0px, -50%) rotate(-90deg);
			position: absolute;
			top: 50%;
			//right: 0;
			transition: transform 0.3s ease 0s;
			@media (min-width: $tabletWidth + px) {
				display: none;
			}
		}
		&.decor {
			&::before {
				display: inline-block;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
		&.isOpen {
			&::before {
				transform: translate(0px, -50%) rotate(-270deg);
			}
		}
	}
}
//*<Тайминги и условия анимации>================================================================================================================

//========================================================================================================================================================

//*==========================================================
